
<h1>Listing users</h1>

<table>
  <tr>
    <th>User</th>
    <th>Name</th>
  </tr>

<% @users.each{ |user| %>
  <tr>
    <td align="center"><%= link_to_unless( user.image.blank?, image_tag( user.image, size: "20x20" ), "https://twitter.com/#!/#{user.screen_name}", target: "_blank", title: user.screen_name ) %></td>
    <td><%= link_to( user.screen_name, controller: "users", action: "menu", id: user.id ) %></td>
  </tr>
<% } %>
</table>

<br />
<br />

<%= link_to( t( "menu.top", default: "Top" ), :root ) %>
