.form-group
  = f.label :title, class: 'control-label'
  = f.text_field :title, class: 'form-control'
.form-group
  = f.label :content, class: 'control-label'
  = f.text_area :content, wrap: "off", class: "form-control", rows: 50
