/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require cerulean/loader
 *= require cerulean/bootswatch
 *= require_self
 */

li p {
  margin: 10px 0 0 0;
}

body {
  font-family: 'Courier', 'verdana', 'arial', 'helvetica', monospace, sans-serif;
  font-size: 14px;
}

textarea {
  font-family: 'Osaka-Mono', 'Courier', monospace;
  font-size: 14px;
}

pre {
  font-family: 'Osaka-Mono', 'Courier', monospace;
}

.page_top_margin {
  margin: 40px 50px 0px 50px;
}

.search_box{
  width:  600px;
  margin: 0 auto;
  margin-top: 20px;
}

.text_search_box_submit {
  margin: 10px;
}

.col-md-8 {
  padding: 0;
}

.group_list {
  margin-top: 20px;
}

.page_list {
  margin-top: 20px;
}

.page_list_item {
  margin-right: 10px;
  display: block;
}

.list-group {
  width:  600px;
  margin: 0 auto;
}

.my_library_group_button {
  line-height: 22px;
}

.my_library_page_button {
  line-height: 24px;
}

.my_library_group_title {
  width: 500px;
  float: left;
  margin: 0px 10px 10px 0px;
}

.my_library_page_title {
  width: 500px;
  float: left;
}

table {
  margin-bottom: 10px;
}
